@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  color: white;
  background-color: #000000; }

#page {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.page-slide {
  flex: 1 0 100%;
  position: relative; }

.page_pagination {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0px, -50%);
  display: flex;
  flex-direction: column; }

.page_bullet {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: #353535;
  border-radius: 50%;
  margin: 10px 0px; }

.page_bullet_active {
  background-color: white; }

.page_scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  background-color: rgba(255, 255, 255, 0.473);
  height: 100%;
  z-index: 100; }

.page_drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.938);
  cursor: pointer; }

.container {
  width: 90%;
  margin: auto; }

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10vh;
  background-color: black;
  z-index: 20;
  display: flex;
  align-items: flex-end; }

#header_hidden {
  height: 10vh; }

.header_flex {
  width: 90%;
  margin: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header_flex .my_name {
    font-family: "Bebas Neue";
    font-size: 1.56rem;
    font-weight: 500;
    letter-spacing: 0.3vw; }
  .header_flex .menu ul {
    display: flex;
    justify-content: flex-end; }
    .header_flex .menu ul li {
      display: inline-block;
      padding: 0rem 1.5rem; }
      .header_flex .menu ul li a {
        text-decoration: none;
        color: inherit;
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
        font-weight: 600;
        transition: all .3s;
        cursor: pointer;
        text-transform: uppercase; }
      .header_flex .menu ul li a:hover {
        color: #ffb23b; }
    .header_flex .menu ul li:last-child {
      padding: 0rem 0rem 0rem 0.5rem; }
  .header_flex .menu_link._active {
    color: #ffb23b; }
    .header_flex .menu_link._active span {
      border-bottom: 1px solid white; }

header .bars {
  display: none; }

header .backArrow {
  display: none; }

.number_page {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 0%;
  top: -10vh;
  font-size: 2rem;
  font-weight: 600;
  color: #ffb23b;
  border-bottom: 2px solid white;
  box-sizing: content-box;
  /* Ширина блока с полями */ }

.social_contacts {
  position: absolute;
  right: 5%;
  bottom: 50%;
  transform: translate(0px, 50%);
  display: flex;
  flex-direction: column;
  cursor: pointer; }
  .social_contacts svg {
    width: 25px;
    padding-bottom: 2vh; }
    .social_contacts svg path {
      fill: white; }
  .social_contacts svg:last-child {
    padding-bottom: 0; }

.social_contacts a:hover path {
  fill: #ffb23b; }

.scroll_down {
  display: block;
  position: absolute;
  left: 0%;
  bottom: -60%; }
  .scroll_down svg {
    --animate-duration: 5s;
    display: block;
    width: 40px; }
    .scroll_down svg path {
      fill: #ffb23b; }

.description {
  position: relative; }
  .description h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase; }

#home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.my_image,
.my_image_contacts {
  position: absolute;
  height: 70%;
  top: 20%;
  right: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: -1; }
  .my_image img,
  .my_image_contacts img {
    height: 100%; }

#skills {
  height: 100vh;
  padding-top: 15vh;
  position: relative; }
  #skills h2 {
    padding-top: 10vh;
    text-align: center;
    font-family: "Montserrat", sans-serif; }
  #skills p {
    text-align: center;
    font-family: "Montserrat", sans-serif; }
  #skills .container_skills {
    padding-top: 10vh;
    display: flex;
    justify-content: space-between; }
    #skills .container_skills .some_skills {
      width: 45%; }
      #skills .container_skills .some_skills .item_skill {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        margin-bottom: 2rem; }
        #skills .container_skills .some_skills .item_skill .item_skill_name_with_percent {
          display: flex;
          justify-content: space-between;
          align-items: flex-end; }
          #skills .container_skills .some_skills .item_skill .item_skill_name_with_percent .item_skill_percent {
            font-size: 1.2rem;
            color: #353535; }
        #skills .container_skills .some_skills .item_skill .item_skill_view {
          height: 7px;
          background-color: #353535;
          border-radius: 4px;
          margin-top: 7px; }
          #skills .container_skills .some_skills .item_skill .item_skill_view .item_skill_view_actually {
            background-color: #d280ec;
            height: 7px;
            border-radius: 4px; }

#portfolio {
  height: 100vh;
  padding-top: 15vh;
  position: relative; }
  #portfolio .obolochka {
    padding-top: 10vh;
    height: 50vh;
    width: 90%;
    margin: auto; }
    #portfolio .obolochka .container_portfolio {
      height: 100%; }
      #portfolio .obolochka .container_portfolio .portfolio_items .item_portfolio {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        text-align: center;
        background-image: inherit;
        background-color: #d8dee8;
        border-radius: 2vh;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        transition-duration: 1s;
        transition-property: background-color,background-image,transform;
        transform: scale(0.9);
        height: 90%; }
        #portfolio .obolochka .container_portfolio .portfolio_items .item_portfolio h3 {
          width: 100%;
          font-size: 1.3rem;
          padding: 0.5rem 1rem;
          background-color: rgba(0, 0, 0, 0);
          transition-property: transform,background-color;
          transition-duration: 1s;
          color: black; }
        #portfolio .obolochka .container_portfolio .portfolio_items .item_portfolio p {
          width: 100%;
          font-size: 1rem;
          padding: 0rem 1.4rem;
          color: darkslateblue; }
      #portfolio .obolochka .container_portfolio .portfolio_items .item_portfolio:hover {
        background-color: transparent;
        background-size: cover;
        transform: scale(1);
        transition-duration: 1s; }
        #portfolio .obolochka .container_portfolio .portfolio_items .item_portfolio:hover h3 {
          height: 0%;
          opacity: 0; }
        #portfolio .obolochka .container_portfolio .portfolio_items .item_portfolio:hover p {
          height: 0%;
          opacity: 0; }
    #portfolio .obolochka .swiper-button-next {
      right: 5%; }
    #portfolio .obolochka .swiper-button-prev {
      left: 5%; }
    #portfolio .obolochka .swiper-button-next,
    #portfolio .obolochka .swiper-button-prev {
      top: 63%; }
    #portfolio .obolochka .swiper-button-next::after,
    #portfolio .obolochka .swiper-button-prev::after {
      color: white; }
    #portfolio .obolochka .swiper-pagination {
      left: 50%;
      transform: translate3d(-50%, 0, 0); }
    #portfolio .obolochka .swiper-pagination-bullet {
      background-color: white;
      margin-right: 15px; }
    #portfolio .obolochka .swiper-pagination-bullet:last-child {
      margin-right: 0px; }

#contacts {
  height: 100vh;
  padding-top: 15vh;
  position: relative; }
  #contacts .container_contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh; }
    #contacts .container_contacts .my_contacts {
      width: 50%; }
      #contacts .container_contacts .my_contacts h2 {
        padding-bottom: 3vh;
        border-bottom: 0.5vh solid white;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem; }
      #contacts .container_contacts .my_contacts div, #contacts .container_contacts .my_contacts a {
        display: flex;
        align-items: center;
        padding-bottom: 3vh;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: white; }
        #contacts .container_contacts .my_contacts div svg, #contacts .container_contacts .my_contacts a svg {
          padding-right: 1vw;
          width: 30px; }
          #contacts .container_contacts .my_contacts div svg path, #contacts .container_contacts .my_contacts a svg path {
            fill: white; }
        #contacts .container_contacts .my_contacts div span, #contacts .container_contacts .my_contacts a span {
          padding-left: 1vw;
          font-family: "Montserrat", sans-serif; }
      #contacts .container_contacts .my_contacts a:hover {
        color: #ffb23b; }
        #contacts .container_contacts .my_contacts a:hover path {
          fill: #ffb23b; }
      #contacts .container_contacts .my_contacts button {
        display: none; }
    #contacts .container_contacts .form {
      width: 40%;
      display: none; }
      #contacts .container_contacts .form .cross {
        display: none; }
      #contacts .container_contacts .form form {
        flex-wrap: wrap;
        justify-content: flex-end; }
        #contacts .container_contacts .form form input,
        #contacts .container_contacts .form form textarea {
          width: 100%;
          font-size: 1rem;
          font-family: "Montserrat", sans-serif;
          color: gray;
          line-height: 6.5vh;
          border: none;
          background-color: #353535;
          margin-bottom: 3vh;
          padding-left: 1rem; }
        #contacts .container_contacts .form form input[type="submit"] {
          width: 50%;
          display: block;
          background-color: transparent;
          color: #ffb23b;
          border: 1px solid #ffb23b;
          cursor: pointer;
          transition-duration: .5s;
          padding-left: 0; }
        #contacts .container_contacts .form form input[type="submit"]:hover {
          transition-duration: .5s;
          background-color: #ffb23b;
          color: black;
          border: 1px solid #ffb23b;
          cursor: pointer; }
        #contacts .container_contacts .form form input:focus,
        #contacts .container_contacts .form form textarea:focus {
          outline: none; }

@media (max-width: 1000px) {
  #home,
  #contacts {
    background-color: #00000087; } }

@media (max-width: 750px) {
  .header_flex {
    width: 90%;
    margin: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header_flex .menu ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 5;
      transform: translateX(100%);
      transition-duration: 0.5s;
      width: 100%;
      background-color: #505050; }
      .header_flex .menu ul li {
        display: inline-block;
        padding: 1.5rem 0rem;
        text-align: center;
        border-bottom: 2px solid black; }
        .header_flex .menu ul li a {
          text-decoration: none;
          color: inherit;
          font-family: "Montserrat", sans-serif;
          font-size: 1.2rem;
          font-weight: 600;
          transition: all .3s;
          cursor: pointer;
          text-transform: uppercase; }
      .header_flex .menu ul li:hover {
        background-color: #414040; }
        .header_flex .menu ul li:hover a {
          color: #ffb23b; }
      .header_flex .menu ul li:last-child {
        padding: 1.5rem 0rem; }
    .header_flex .menu_link._active {
      color: #ffb23b;
      border-bottom: none; }
  header .bars {
    display: block;
    width: 50px;
    position: relative;
    z-index: 10;
    cursor: pointer; }
  header .bars:hover path {
    fill: #ffb23b; }
  header .bars path {
    fill: white; }
  header .backArrow {
    width: 50px;
    display: none;
    position: relative;
    z-index: 10;
    cursor: pointer; }
  header .backArrow:hover path {
    fill: #ffb23b; }
  header .backArrow path {
    fill: white; }
  .my_image,
  .my_image_contacts {
    display: none; }
  .social_contacts {
    bottom: 5%;
    transform: translate(0px, 0px); }
    .social_contacts svg {
      width: 35px;
      padding-bottom: 3vh; }
  #contacts .container_contacts {
    flex-direction: column; }
    #contacts .container_contacts .my_contacts {
      width: 100%; }
      #contacts .container_contacts .my_contacts h2 {
        padding-bottom: 3vh;
        border-bottom: 0.5vh solid white;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem; }
      #contacts .container_contacts .my_contacts div svg {
        padding-right: 1vw;
        width: 30px; }
        #contacts .container_contacts .my_contacts div svg path {
          fill: white; }
      #contacts .container_contacts .my_contacts div span {
        padding-left: 1vw;
        font-family: "Montserrat", sans-serif; }
      #contacts .container_contacts .my_contacts button {
        display: none;
        background-color: transparent;
        color: #ffb23b;
        border: 1px solid #ffb23b;
        cursor: pointer;
        transition-duration: .5s;
        padding: 0rem 3rem;
        height: 3rem;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        margin-top: 1rem; }
      #contacts .container_contacts .my_contacts button:hover {
        transition-duration: .5s;
        background-color: #ffb23b;
        color: black;
        border: 1px solid #ffb23b;
        cursor: pointer; }
    #contacts .container_contacts .form {
      visibility: hidden;
      width: 100%;
      position: relative; }
      #contacts .container_contacts .form .cross {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: -45px;
        display: block;
        width: 30px;
        z-index: 50; }
        #contacts .container_contacts .form .cross path {
          fill: white; }
      #contacts .container_contacts .form .cross:hover path {
        fill: #ffb23b; }
      #contacts .container_contacts .form form input,
      #contacts .container_contacts .form form textarea {
        width: 100%;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        color: gray;
        line-height: 6.5vh;
        border: none;
        background-color: #353535;
        margin-bottom: 3vh;
        padding-left: 1rem; }
      #contacts .container_contacts .form form input[type="submit"] {
        width: 50%;
        display: block;
        background-color: transparent;
        color: #ffb23b;
        border: 1px solid #ffb23b;
        cursor: pointer;
        transition-duration: .5s;
        padding-left: 0; }
      #contacts .container_contacts .form form input[type="submit"]:hover {
        transition-duration: .5s;
        background-color: #ffb23b;
        color: black;
        border: 1px solid #ffb23b;
        cursor: pointer; }
      #contacts .container_contacts .form form input:focus,
      #contacts .container_contacts .form form textarea:focus {
        outline: none; } }

@media (max-width: 515px) {
  .description h1 {
    font-size: 2.2rem; }
  .scroll_down {
    bottom: -90%; }
  #skills {
    height: 100vh;
    padding-top: 15vh;
    position: relative; }
    #skills h2 {
      padding-top: 10vh;
      text-align: center;
      font-family: "Montserrat", sans-serif; }
    #skills p {
      text-align: center;
      font-family: "Montserrat", sans-serif; }
    #skills .container_skills {
      padding-top: 3vh;
      flex-direction: column; }
      #skills .container_skills .some_skills {
        width: 100%; }
        #skills .container_skills .some_skills .item_skill {
          margin-bottom: 1rem; }
          #skills .container_skills .some_skills .item_skill .item_skill_name_with_percent {
            align-items: flex-end; }
            #skills .container_skills .some_skills .item_skill .item_skill_name_with_percent .item_skill_percent {
              font-size: 1.2rem; }
          #skills .container_skills .some_skills .item_skill .item_skill_view {
            margin-top: 0px; }
            #skills .container_skills .some_skills .item_skill .item_skill_view .item_skill_view_actually {
              background-color: #d280ec;
              height: 7px;
              border-radius: 4px; }
  .my_contacts div span {
    font-size: 0.9rem; }
  #portfolio .obolochka .swiper-button-next {
    right: 3%; }
  #portfolio .obolochka .swiper-button-prev {
    left: 3%; }
  #portfolio .obolochka .swiper-button-next,
  #portfolio .obolochka .swiper-button-prev {
    top: 60%; } }
